.grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.main-content {
  /* min-height: min-content; */
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  place-items: center;
}
.main-content .responsive-img {
  block-size: inherit;
}
.main-content .main-text {
  font-size: 2rem;
  font-weight: 900;
}
/* ANIMATION ON IMAGE  */
.animation-wrapper {
  transform: rotate(-30deg);
}
.animate-img {
  /* transform: rotate(-30deg); */
  animation: shoe-animate 3s ease-in-out infinite alternate;
}
@keyframes shoe-animate {
  0% {
    /* transform: rotate(-30deg); */
  }
  50% {
    transform: translateY(0);
    /* transform: rotate(-30deg); */
  }
  100% {
    transform: translateY(-30px);
    /* transform: rotate(-30deg); */
  }
}
.card {
  width: 100%;
}
.text-overlay-container {
  position: relative;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: grey;
  width: 100%;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  .main-content {
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-columns: 0; */
  }
  .grid-column-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
